/* RGB პალიტრა არის ფერების სისტემა, რომელიც იყენებს წითელ (Red), მწვანე (Green) და ლურჯ (Blue) ფერებს. თითოეული ფერის მნიშვნელობა არის 0-დან 255-მდე. */

/* HEX კოდების სისტემა ფერების აღსანიშნავად იყენებს 16-ობით რიცხვებს. HEX კოდი იწყება # სიმბოლოთი და შედგება 6 სიმბოლოსგან, მაგალითად #FF0000 არის წითელი. */

body {
    background-color: #f2f2f2;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #1e3a8a;
}

p {
    font-size: 18px;
}

.rgb1 {
    color: rgb(255, 0, 0);
}

.rgb2 {
    color: rgb(0, 128, 0);
}

.rgb3 {
    color: rgb(0, 0, 255);
}

.rgb4 {
    color: rgb(128, 0, 128);
}

.rgb5 {
    color: rgb(255, 140, 0);
}

.hex1 {
    color: #ff1493;
}

.hex2 {
    color: #008080;
}

.hex3 {
    color: #800000;
}

.hex4 {
    color: #4b0082;
}

.hex5 {
    color: #228b22;
}